<div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-3">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Product</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Product Innovation</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Market Research</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Employee Experience</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Customers</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Resources</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>           
          </ul>
        </div>
  
        <div class="col-2 center-center">
            <img class="vertical-middle" src="{{ site.my-media-path }}/assets/img/Bulbshare-logo-white (1).png" alt="Bulbshare" width="168" height="39" />
        </div>
  
        <div class="col-6 offset-1 align-right">
            <p>London<br />
            3-5 Hardwidge Street, SE1 3SY<br />
            t. 02086163636 / e.info@bulbshare.com<br />
            Hong Kong<br />
            L1, The Sparkle, 500 Tung Chau Street, West Kowloont. <br />+(852)39961934 / e. info@bulbshare.com</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
            </ul> 
        </div>   
      </div>
  
      <div class="text-center copyright justify-content-between py-4 my-4">
        <p>&copy; 2022 Bulbshare. All Rights Reserved, Bulbshare Limited</p>
      </div>
    </footer>
  </div>