<div class="px-4 py-5 my-5 text-center bg-gradient-cta">
    <div class="hero-inner-padding">
        <div class="col-lg-6 mx-auto">
            <h1 class="cta display-5 fw-bold">Drive authentic user reviews at scale for word of mouth <span class="yellow">customer advocacy</span></h1>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Request a demo</button>
            </div>
        </div>
    </div>   
</div>