<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
          <video class="masking" muted autoplay>
            <source src="{{ site.my-media-path }}/assets/img/SEE-HOW.mp4" type="video/mp4">
          </video>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">See how we transformed L’Oréal's marketing capability</h1>
        <p class="lead">Watch how we helped L’Oréal put their customers at the heart of what they do.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Watch video</button>
        </div>
      </div>
    </div>
</div>    