<div class="container py-4">
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5">
            <h6 class="blue">Getting started</h6>
            <h2 class="blue">How it works </h2>
            <p>Bulbshare's Review and Social Sharing features allow you to turn users into brand advocates by getting them to share reviews and authentic user-generated content direct to their social media audiences - then syndicate those reviews to a global audience of millions via our Bazaarvoice integration. </p>
            <p>Via our reviews, you can also direct traffic back to your product pages and track the clicks via your own live AI dashboard. </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100">
            <video muted autoplay>
                <source src="{{ site.my-media-path }}/assets/img/HOW-IT-WORKS.mp4" type="video/mp4">
            </video>
          </div>
        </div>
    </div>
</div>