<div class="container py-4">
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5">
            <h6 class="blue">INCREASE YOUR ENGAGEMENT</h6>
            <h2 class="blue">How our customers use their reviews</h2>
            <p>In a world where saturated markets are all competing online, successful marketing is no longer just telling people how great your company or product is. Potential customers are searching for authentic communication and conversations before flexing their purchasing power.</p> 
            <p>Nothing rings more true than word of mouth advocacy and having your company organically promoted by users themselves.</p> 
            <p>Our automated technology drives thousands of customer reviews online and is a more cost-effective way of getting user-generated content from your customers and to the masses.</p>
            <img src="{{site.baseurl}}/assets/img/increase-engagement.png">
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5">
            INSERT VIDEO
            <p><a href="">Revolutions your marketing</a><br /><a href=""><strong>Drive your revenue</strong></a><br /><a href="">Book your demo today</a></p>        
          </div>
        </div>
    </div>
</div>
  
<div class="container py-4">
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5" style="background: #F8F8F8;">
              INSERT VIDEO
            </div>
          </div>
        <div class="col-md-6">
            <div class="h-100 gap-2">
                <h6 class="blue">TAP INTO COMMUNITIES</h6>
                <h2 class="blue">What reviews can do for you</h2>
                <p>With Bulbshare, you can create always-on customer communities and drive thousands of reviews at scale. Our integration with Bazaarvoice allows us to syndicate your customer reviews to millions of people worldwide.</p> 
                <p><img src="{{site.baseurl}}/assets/img/bazaar-voice.png" class="img-flt"><strong>Let peer-to-peer advocacy and word of mouth communication drive your business' revenue.</strong></p>
                <img src="{{site.baseurl}}/assets/img/communities.png">
              </div>
        </div>
    </div>
</div>