<div class="container py-4">
  <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white green-grid-col">
          <h2>Tap into your online community</h2>
          <h5>Overview</h5>
          <p>Part of the L’Oréal group, NYX Professional Makeup believes pro-level makeup should be accessible for all, colour and self-expression should never be filtered, and the customers' way of doing things should always be proudly celebrated. Founded in Los Angeles in 1999, they champion creativity, freedom and individuality.</p>
          <h5>Aim</h5>
          <p>Create the first NYX Professional Makeup UK campaign driven purely by customer content and advocacy, powered by Bulbshare, around the tagline of ‘Can’t Stop Won’t Stop All The Obsession’.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-white blue-grid-col">
          <h2>Strategy</h2>
            <p>NYX Professional Makeup UK want to leverage the consumer love that already exists for their Can't Stop Won't Stop foundation to assert trust amongst consumers and win new customers over to their hero foundation range.</p>          
            <p>To tackle this challenge, NYX Professional Makeup UK uses Makeup Addyx - their fully branded Bulbshare app with 5,000+ makeup artists, consumers and micro influencers - to drive authentic UGC demonstrating the product's benefits and validating their key claims.</p>           
            <p>We have provided NYX Professional Makeup UK with over 400 product reviews, more than 300 pieces of UGC ‘before and after’ videos, and a potential reach of millions via Bulbshare’s unique Social Sharing functionality and Bazaarvoice integration, to create authentic hype and buzz around the foundation. These insights shape the campaign idea, messaging, and look and feel.</p>
        </div>
      </div>
    </div>
  </div>

<div class="container py-4">
    <div class="p-5 mb-4 text-white blue-grid-col">
      <div class="container-fluid py-5">
        <div class="row mb-3">
          <div class="col-md-8 themed-grid-col" style="background: white; color: black;">INSERT VIDEO HERE</div>
          <div class="col-md-4 themed-grid-col"><p class="fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p></div>
        </div>
      </div>
    </div>
</div>

<div class="container py-4">
  <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5">
          <h6 class="blue">Getting started</h6>
          <h2 class="blue">How it works </h2>
          <p>Bulbshare's Review and Social Sharing features allow you to turn users into brand advocates by getting them to share reviews and authentic user-generated content direct to their social media audiences - then syndicate those reviews to a global audience of millions via our Bazaarvoice integration. </p>
          <p>Via our reviews, you can also direct traffic back to your product pages and track the clicks via your own live AI dashboard. </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5" style="background: #F8F8F8;">
          INSERT VIDEO
        </div>
      </div>
    </div>
  </div>