/* scss tweaks here */

@font-face {
  font-family: 'gilroyextrabold';
  src: url('/assets/img/fonts/gilroy-extrabold-webfont.eot');
  src: url('/assets/img/fonts/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/img/fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
       url('/assets/img/fonts/gilroy-extrabold-webfont.woff') format('woff'),
       url('/assets/img/fonts/gilroy-extrabold-webfont.ttf') format('truetype'),
       url('/assets/img/fonts/gilroy-extrabold-webfont.svg#gilroyextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gilroylight';
  src: url('/assets/img/fonts/gilroy-light-webfont.eot');
  src: url('/assets/img/fonts/gilroy-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/img/fonts/gilroy-light-webfont.woff2') format('woff2'),
       url('/assets/img/fonts/gilroy-light-webfont.woff') format('woff'),
       url('/assets/img/fonts/gilroy-light-webfont.ttf') format('truetype'),
       url('/assets/img/fonts/gilroy-light-webfont.svg#gilroylight') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'gilroylight';
	color: #000;
}

a {
	text-decoration: none;
}

.btn {
    background-color: $btn-bg; 
    color: $btn-txt-color;
    padding: 12px 2em;
    text-transform: uppercase;
    letter-spacing: .05em;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 5em !important;    
    font-family: 'gilroylight';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;    
}
.hero-inner-padding {
    padding-top: 8rem;
    padding-bottom: 5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'gilroyextrabold';
  font-weight: 800;
}
h1.cta {
  font-family: 'gilroyextrabold'; 
  color: #ffffff;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
}

.intro h1.fw-bold {
  font-family: 'gilroyextrabold';
  font-weight: 800;
  color: #000000;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
}
.intro h2.fw-bold {
  font-family: 'gilroyextrabold';
  font-style: normal;
  font-weight: 800;
  color: #393A3A;
  font-size: 40px;
  line-height: 49px;
  margin-top: 55px;
}

.blue {
  color: $blue-txt;
}
.yellow { color: #FFE802}

.jumbotron {
    background: linear-gradient(169.35deg, #0669E6 6.42%, #33C1DB 93.23%, #33C1DB 93.58%);
    position: relative;
    height: 100vh;
    min-height: 650px;
    max-height: 1200px;
  }

  // Full width gradient container
  .bg-gradient {
    background: linear-gradient(169.35deg, #0669E6 6.42%, #33C1DB 93.23%, #33C1DB 93.58%);
  }
  .bg-gradient-cta {
    background: linear-gradient(169.35deg, #0669E6 6.42%, #33C1DB 93.23%, #33C1DB 93.58%);
  }
  .bg-gradient-cta:before {
    max-width: 1140px;
    margin: 0 auto;
    left: 0;
    right: 0;
    content: '';
    position: absolute;
    top: 40px;
    bottom: -20px;
    width: 100%;
    background: url(/assets/img/Group9.png) no-repeat center bottom;
    background-size: cover;
    z-index: 0;
  }
  // Gradient grids 

  .green-grid-col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin-bottom: .25rem;
    background-color: #35D6D8;
    border-radius: 30px;
  }
  .blue-grid-col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin-bottom: .25rem;    
    background: linear-gradient(164.89deg, #0669E6 7.76%, #35D6D8 91.9%, #35D6D8 92.24%);
    border-radius: 30px;    
  }

  .green-grid-col p, .blue-grid-col p {
    font-family: 'gilroylight';
    font-style: normal;
    font-weight:300;
    font-size: 12px;
    line-height: 13.84px;
  }
  .green-grid-col h2, .blue-grid-col h2 {
    font-family: 'gilroyextrabold';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
  }
  .green-grid-col h5, .blue-grid-col h5 {
    font-family: 'gilroyextrabold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
  }

  // list groups
  .list-group-item {
    background: none;
    border: none;
  }
  .list-group-item img {
    margin-right: 0.7rem;
  }
  .list-group h4 {
    padding-left: 3.4rem;
    font-family: 'gilroylight';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;  
  } 

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .img-flt {
    float: right;
    margin-left: 10px;
  }

  .mask  {
    -webkit-mask-image:url(/assets/img/mask2.png);
    -webkit-mask-position:center center;
    -webkit-mask-repeat:no-repeat;
    mask-size: 400px 350px;
  
    mask-image:url(/assets/img/mask2.png);
    mask-position:left center;
    mask-repeat:no-repeat;
    mask-size: 400px 350px;
}

 // footer
.align-right {
  text-align: right;
}
.center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
ul.nav li {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;

color: #3C3C47;
}
.vertical-middle {
  vertical-align: middle;
}
.copyright {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: #3C3C47;
}