<!doctype html>
<html lang="en" class="h-100">
    <head>
        {% include template/head.html %}
    </head>
    <body class="d-flex flex-column h-100">
        {% include template/header.html %}
        <main id="maincontent" role="main" aria-label="Content" class="mb-4 flex-shrink-0">
            {{ content }}

            {% include intro.html %}
            {% include two-col-feature.html %}
            {% include how-it-works.html %}
            {% include CTA.html %}  
            {% include progress-bar.html %} 
            {% include CTA.html %}           
        </main>
        {% include template/footer.html %}
        {% include template/foot.html %}
    </body>
</html>